@font-face {
  font-family: 'Gotham-Book' sans-serif;
  src: url(../fonts/Gotham-Book.otf); }
#container {
  margin: 0 auto;
  max-width: 1200px; }

#mainHeader {
  display: flex;
  flex-direction: column;
  margin: 0 auto; }

#logo {
  text-align: center; }

#navbar {
  display: flex;
  flex-direction: column; }
  #navbar button {
    background: url(../images/burgermenu.png) center no-repeat;
    width: 40px;
    height: 40px;
    border: 0px;
    transition: all 400ms ease;
    margin-right: auto; }
  #navbar button.expanded {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  #navbar li {
    list-style: none;
    margin-left: -8%; }
    #navbar li a {
      text-decoration: none;
      display: block;
      padding: 10px 0 10px 0;
      /*trbl*/
      color: #000;
      text-align: center;
      font-family: 'Arial'; }
  #navbar #burgerCon {
    display: none; }
  #navbar #burgerCon.slideToggle {
    display: block; }

@media screen and (min-width: 640px) {
  #mainHeader {
    flex-direction: row; }

  #logo {
    margin-left: 0 auto; }

  #burgerButton {
    display: none; }

  #mainheader {
    flex-direction: row; }

  #navBar {
    height: 100px; }

  #burgerCon {
    display: flex;
    flex-direction: row;
    height: 100px; } }
#home {
  display: flex;
  flex-direction: column; }

.homecontent {
  margin: 25px;
  max-width: 550px; }
  .homecontent h2 {
    font-family: 'DIN Alternate';
    font-size: 33px;
    text-align: center; }
  .homecontent p {
    margin-top: 10%;
    font-family: 'Arial';
    font-size: 18px;
    line-height: 2;
    text-align: center; }
  .homecontent button {
    display: block;
    margin: 0 auto;
    width: 175px;
    height: 60px;
    border: none;
    border-radius: 1.5em .5em 3em 1.5em;
    background-color: #7ea7dd;
    color: #fff;
    font-weight: 14px;
    margin-top: 10%; }

@media screen and (min-width: 640px) {
  #home {
    flex-direction: row; }

  .homecontent {
    flex: 1 1 auto; }
    .homecontent h2 {
      text-align: left; }
    .homecontent p {
      text-align: left;
      margin-left: 2%; }
    .homecontent button {
      margin-left: 0; } }
#featureHead {
  text-align: center; }
  #featureHead h2 {
    text-align: center;
    font-family: 'DIN Alternate';
    font-size: 45px;
    margin-bottom: 10%; }
  #featureHead p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4d4da3; }

#featureSub {
  margin-top: 10%;
  text-align: center; }
  #featureSub h3 {
    font-family: 'DIN Alternate';
    font-size: 24px;
    letter-spacing: 2px; }

.featureContent {
  text-align: center; }
  .featureContent h3 {
    text-align: center;
    color: #1f3a7f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 2px; }
  .featureContent p {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 200%;
    letter-spacing: 1.5px;
    max-width: 400px; }

@media screen and (min-width: 640px) {
  #featureContent {
    display: flex;
    flex-direction: row; }

  .featureContent {
    flex: 1 1 auto; } }
@media screen and (min-width: 640px) {
  #portfolio {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 300px; }

  #avatar {
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 50%;
    position: relative; }

  .avatar {
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 50%;
    border: dashed #1f3a7f 3px;
    left: 50%;
    margin-left: -80px;
    margin-top: -80px;
    text-align: center; }
    .avatar img {
      width: 90%;
      border-radius: 50%;
      margin-top: 5%; }

  #xia {
    transform: rotate(-60deg);
    transform-origin: 80px 400px; }
    #xia img {
      transform: rotate(60deg); }

  #chen {
    transform: rotate(-120deg);
    transform-origin: 80px 400px; }
    #chen img {
      transform: rotate(120deg); }

  #zou {
    transform: rotate(-180deg);
    transform-origin: 80px 400px; }
    #zou img {
      transform: rotate(180deg); } }

/*# sourceMappingURL=main.css.map */
