@font-face {
  font-family: "Gotham-Book" sans-serif;
  src: url(../fonts/Gotham-Book.otf);
}
#container {
  margin: 0 auto;
  max-width: 1200px;
}

#logo {
  margin: 0 auto;
}

#navbar {
  display: flex;
  flex-direction: column;
}
#navbar button {
  width: 20px;
  height: 20px;
  border: 0xp;
}
#navbar button.expanded {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
#navbar li {
  list-style: none;
}
#navbar li a {
  text-decoration: none;
  display: block;
  padding: 10px 0 10px 0;
  /*trbl*/
  color: #000;
  text-align: center;
  font-family: "Arial";
}
#navbar #burgerCon {
  display: none;
}
#navbar #burgerCon.slideToggle {
  display: block;
}

@media screen and (min-width: 640px) {
  #logo {
    margin-left: 0 auto;
  }

  #burgerButton {
    display: none;
  }

  #mainheader {
    flex-direction: row;
  }

  #navBar {
    height: 100px;
  }

  #burgerCon {
    display: flex;
    flex-direction: row;
    height: 100px;
  }
}
#home {
  display: flex;
  flex-direction: column;
}

.homecontent {
  margin: 25px;
  max-width: 550px;
}
.homecontent h2 {
  font-family: "DIN Alternate";
  font-size: 33px;
  text-align: center;
}
.homecontent p {
  margin-top: 10%;
  font-family: "Arial";
  font-size: 18px;
  line-height: 2;
  text-align: center;
}
.homecontent button {
  display: block;
  margin: 0 auto;
  width: 175px;
  height: 60px;
  border: none;
  border-radius: 1.5em 0.5em 3em 1.5em;
  background-color: #7ea7dd;
  color: #fff;
  font-weight: 14px;
  margin-top: 10%;
}

@media screen and (min-width: 640px) {
  #home {
    flex-direction: row;
  }

  .homecontent {
    flex: 1 1 auto;
  }
  .homecontent h2 {
    text-align: left;
  }
  .homecontent p {
    text-align: left;
    margin-left: 2%;
  }
  .homecontent button {
    margin-left: 0;
  }
}
#features h2 {
  text-align: center;
  font-family: "DIN Alternate";
  font-size: 55px;
}

@media screen and (min-width: 640px) {
  #portfolio {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 300px;
  }

  #avatar {
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
  }

  .avatar {
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 50%;
    border: dashed #1f3a7f 3px;
    left: 50%;
    margin-left: -80px;
    margin-top: -80px;
  }

  #xia {
    transform: rotate(-60deg);
    transform-origin: 80px 400px;
  }

  #chen {
    transform: rotate(-120deg);
    transform-origin: 80px 400px;
  }

  #zou {
    transform: rotate(-180deg);
    transform-origin: 80px 400px;
  }
}
#about {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#about h2 {
  font-family: "DIN Alternate";
  font-size: 38px;
  margin: 25px auto;
  color: #303030;
}
#about h3 {
  color: #7ea7dd;
  font-family: "Arial";
  font-size: 27px;
  margin: 5px auto;
}
#about h4 {
  font-family: "Arial";
  font-size: 27px;
  color: #303030;
  margin: 10px auto;
}

.about-content {
  margin: 10px auto;
}

.about-detail img {
  margin: 0 auto;
}
.about-detail h5 {
  display: none;
}
.about-detail p {
  font-family: "Arial";
  font-size: 14px;
  color: #303030;
  margin-bottom: 30px;
}

.about-culture p {
  margin-top: 40px;
}

.about-team p {
  margin-top: 10px;
}

.about-services p {
  margin-top: 40px;
}

@media screen and (min-width: 480px) {
  #about {
    text-align: center;
  }
  #about h2 {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 40px;
  }
  #about h3 {
    font-size: 19px;
    margin-bottom: 20px;
  }
  #about h4 {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .about-content {
    display: flex;
    flex-direction: row;
    margin: 40px auto;
  }

  .about-detail {
    flex-direction: column;
    font-family: "Arial";
  }
  .about-detail h5 {
    font-size: 21px;
    color: #1f3a7f;
    margin-bottom: 25px;
  }
  .about-detail p {
    font-size: 12px;
    color: #303030;
  }
}
@media screen and (min-width: 960px) {
  #about {
    text-align: center;
  }
  #about h2 {
    font-size: 66px;
    margin-top: 135px;
    margin-bottom: 45px;
  }
  #about h3 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  #about h4 {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .about-content {
    display: flex;
    flex-direction: row;
    margin: 55px auto;
  }

  .about-detail {
    flex-direction: column;
    font-family: "Arial";
  }
  .about-detail h5 {
    font-size: 27px;
    color: #1f3a7f;
    margin-bottom: 45px;
  }
  .about-detail p {
    font-size: 16px;
    color: #303030;
  }
}
#contact {
  display: flex;
  flex-direction: coloum;
  text-align: center;
}

#contact-area {
  margin: 0 auto;
  flex-direction: row;
}
#contact-area .contact-logo {
  margin-left: 5px;
}
#contact-area .contact-tagline {
  font-family: "DIN Alternate";
  font-size: 15px;
  margin-right: 60px;
  color: #303030;
}

.contact-img {
  flex-direction: row;
  margin: auto 65px;
}
.contact-img .image-one {
  margin-top: 70px;
}
.contact-img .image-two {
  margin-top: 10px;
}

.contact-content {
  margin: 35px auto;
}

.contact-title {
  display: inline-block;
  font-family: "DIN Alternate";
  margin-bottom: 25px;
}
.contact-title h2 {
  font-size: 38px;
  color: #303030;
}
.contact-title p {
  font-size: 18px;
  color: #7ea7dd;
}

.contact-intro h3 {
  font-family: "DIN Alternate";
  font-size: 19px;
  color: #1f3a7f;
}
.contact-intro h4 {
  font-family: "DIN Alternate";
  font-size: 10px;
  color: #1f3a7f;
}
.contact-intro p {
  font-family: "Arial";
  font-size: 13px;
  color: #303030;
  margin: 25px auto;
}

@media screen and (min-width: 480px) {
  #contact {
    flex-direction: coloum;
    text-align: center;
    margin: auto 30px;
  }

  #contact-area {
    display: inline-block;
    margin-bottom: 50px;
  }
  #contact-area h3 {
    font-family: "DIN Alternate";
    font-size: 20px;
    color: #303030;
  }

  #contact-info {
    display: flex;
    flex-direction: row;
  }
  #contact-info .image-one {
    margin-top: 90px;
  }

  .contact-title {
    margin-bottom: 30px;
  }
  .contact-title h2 {
    font-size: 50px;
  }
  .contact-title p {
    font-size: 18px;
  }
}
.contact-intro h4 {
  font-size: 19px;
}

.contact-intro h3 {
  font-family: "DIN Alternate";
  font-size: 19px;
  color: #1f3a7f;
}
.contact-intro p {
  font-size: 12px;
  margin: 18px auto;
}

@media screen and (min-width: 960px) {
  #contact {
    margin: auto 55px;
  }

  #contact-area {
    margin-bottom: 60px;
  }
  #contact-area h3 {
    font-size: 26px;
    margin-left: 48px;
  }

  .image-one {
    margin-top: 110px;
  }

  .contact-title {
    margin-bottom: 40px;
  }
  .contact-title h2 {
    font-size: 66px;
  }
  .contact-title p {
    font-size: 24px;
  }

  .contact-intro h3 {
    font-size: 24px;
  }
  .contact-intro h4 {
    font-size: 24px;
  }
  .contact-intro p {
    font-size: 12px;
    margin: 28px auto;
  }
}
#footer {
  margin: auto 27px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.footer-left {
  display: flex;
  flex-direction: row;
}
.footer-left .footer-social {
  flex-direction: row;
}
.footer-left .footer-address {
  font-family: "Arial";
  font-size: 10px;
  color: #e6f7fe;
}

.footer-right {
  flex-direction: column;
}
.footer-right p {
  font-family: "Arial";
  font-size: 11px;
  color: #e6f7fe;
}

@media screen and (min-width: 480px) {
  #footer {
    margin: auto 50px;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
  }
  .footer-left .footer-address {
    font-size: 18px;
  }

  .footer-right p {
    font-size: 13px;
  }
}
@media screen and (min-width: 960px) {
  #footer {
    margin: auto 80px;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
  }
  .footer-left .footer-address {
    font-size: 24px;
  }

  .footer-right p {
    font-size: 17px;
  }
}

/*# sourceMappingURL=main.css.map */
