// main content

@import "_vars";


body {
    background: url(/images/fulllong-desktop.jpg) no-repeat;
    // height:100%;
    // width:100%;
    // overflow: hidden;
    // background-size:cover;

}

#container {
    margin: 0 auto;
    max-width: 1200px;
}

@import "modules/_header";
@import "modules/_home";
@import "modules/_features";
@import "modules/_portfolio";
@import "modules/_about";
@import "modules/_contact";
@import "modules/_footer";
