// main content

@import "_vars";



#container {
    margin: 0 auto;
    max-width: 1200px;
}

.hidden{
    display: none;
}

@import "modules/_header";
@import "modules/_home";
@import "modules/_features";
@import "modules/_portfolio";
@import "modules/_about";
@import "modules/_contact";
@import "modules/_footer";
