// style sheet for header elements

#mainHeader {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#logo {
    text-align: center;
    

   
}

#navbar {
    display: flex;
    flex-direction: column;

    button{
        background: url(../images/burgermenu.png) center no-repeat;
        width: 40px;
        height: 40px;
        border: 0px;
        transition: all 400ms ease;
        margin-right: auto;

        
    }

    button.expanded{
        -webkit-transform: rotate(90deg);
         -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    li {
        list-style: none;
        margin-left: -8%;
        a {
            text-decoration: none;
            display: block;
            padding: 10px 0 10px 0; /*trbl*/
            color: #000;
            text-align: center;
            font-family: 'Arial';
        }
    }

    #burgerCon {
        display: none;
    }

    #burgerCon.slideToggle {
        display: block;
    }
}

@media screen and (min-width:640px) {

    #mainHeader {
        flex-direction: row;
    }

    #logo
    {
        margin-left: 0 auto;
    }

    #burgerButton{
        display: none;
    }

    #mainheader {
        flex-direction: row;
        
        
    }
    #navBar{
        height: 100px;
    }

    #burgerCon
        {
            display: flex;
            flex-direction: row;
            height: 100px;
        }
}
